BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="" 

NUXT_TURSO_DATABASE_URL=""
NUXT_TURSO_AUTH_TOKEN=""

NUXT_PUBLIC_APP_ENV=""

NUXT_GITHUB_CLIENT_ID=""
NUXT_GITHUB_CLIENT_SECRET=""


NUXT_GOOGLE_CLIENT_ID=""
NUXT_GOOGLE_CLIENT_SECRET=""

NUXT_GIMINI_API_KEY=""

NUXT_CLOUDINARY_CLOUD_NAME="" 
NUXT_CLOUDINARY_API_KEY=""
NUXT_CLOUDINARY_API_SECRET=""

NUXT_POLAR_ACCESS_TOKEN=""
NUXT_POLAR_SERVER=""
NUXT_POLAR_WEBHOOK_SECRET=""
NUXT_POLAR_PRODUCT_ID=""